/* page container */
#container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.num-div {
    padding: 0;
}

/* menu sidebar */
#div1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 15%;
    height: 80%;
}

/* topbar (title) */
#div2 {
    position: absolute;
    top: 0;
    left: 15%;
    width: 85%;
    height: 20%;
}

/* small text section */
#div3 {
    position: absolute;
    top: 20%;
    left: 15%;
    width: 70%;
    height: 10%;
}

/* right sidebar */
#div4 {
    position: absolute;
    top: 20%;
    left: 85%;
    width: 15%;
    height: 60%;
}

/* main text section */
#div5 {
    position: absolute;
    top: 30%;
    left: 15%;
    width: 70%;
    height: 50%;
}

/* footer */
#div6 {
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    height: 20%;
}

/* menu sidebar content */
.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    /* translate fuction moves the element 50% of its own width to the left
    and 50% of its own height to the top */
    transform: translate(-50%, -50%);
    padding: 10px;
}

/* header and footer inside content divided into 2 columns */
.columns {
    position: absolute;
    columns: 2;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

/* quotes blocks */
.text-box {
    background-color: white;
    display: inline-block;
    padding: 0 20px;
    width: auto;
    height: auto;
    text-align: center;
}

/* small text section content */
#div3 > * {
    position: absolute;
    width: 98%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* right sidebar content */
#div4 > * {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* main text section content */
#div5 > * {
    position: absolute;
    width: 98%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}